.container-form{
  background-color: rgb(98, 96, 96);
  text-align: center;
  padding: .5rem;
}

.select-form{
  border-radius: 5px;
  padding: .2rem;
}

.container-error{
  width: 50%;
  margin: 1rem auto;
  position: relative;
  padding: 2rem 1rem;
  background-color: rgb(212, 49, 49);
  color: #eee;
  border-radius: 5px;
}

.btn-error{
  border-radius: 5px;
  border: none;
  position: absolute;
  right: 5px;
  top: 5px;
}